body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, rgb(208, 205, 219),#1c3ad5);
}

.converter {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-container {
    display: flex;
    margin-bottom: 10px;
}


input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:hover{
    border: 1px solid #000000;
}

select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select:hover{
    border: 1px solid #000000;
}

button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
